.show-dropdown{
  margin: 20px;
  height: 170px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.show-item{
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f1f1f1;
}
.search-wrapper{
  margin: 20px;
}
#close{
  border: none;
  margin-right: 8px;
}
.form_list_checkitem{
  z-index: 0;
}
.check_item{
  z-index: 1;
}
.items {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.items__item {
  margin: 1rem 0;
  border: 1px solid lightgray;
}

.items__item--active {
  background: lightgray;
}

.items__item:not(.items__item--active) {
  cursor: pointer;
}

.items__item a {
  padding: 0.5rem;
  display: block;
}

.pagination {
  display: flex;
  max-width: 960px;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.pagination__item:not(.pagination__item--disabled) {
  color: #25259a;
  cursor: pointer;
}

.pagination__item a {
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
}

.pagination__item--active a {
  color: #f0f0f0;
  background: #25259a;
  border: 1px solid #25259a;
}
